name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install Cython buildozer

      - name: Build with Buildozer
        run: buildozer -v android debug

      - uses: actions/upload-artifact@v4
        with:
          name: app
          path: bin/*.apk
